# Dev and CI
*.cache
.playground
.playground.php
/build/
/dist/
/logs/
/temp/
captainhook.config.json
cghooks.lock

# Composer
/vendor/
composer.lock
/studio.json

# Docker
docker-compose.override.yml
/docker/@*/

# Env
*.env
.env.*
!*.env.example
!.env.*.example

# Editor/ IDE
*.code-workspace
.idea/
.project/
.vscode/

# System files
.DS_Store
Thumbs.db
